In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from transformers import pipeline
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans

c:\Users\vince\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df=pd.read_csv("4-wheeler-EV-carwale.csv")

In [3]:
df.head()

,review,Exterior,Comfort,Performance,Fuel Economy,Value for Money,Condition,driven,rating,model_name
0,Superb car like as fantastic as petroleum car....,5.0,4.0,5.0,5.0,5.0,New,Few hundred kilometers,5.0,hyundai kona
1,"Anti national, worst service, worst customer c...",1.0,1.0,1.0,1.0,1.0,New,Haven't driven it,0.0,hyundai kona
2,Super happy with it. The car is too good,4.0,5.0,5.0,5.0,4.0,New,Few thousand kilometers,5.0,hyundai kona
3,"Pretty good car, smooth as a glider fast car, ...",5.0,5.0,5.0,5.0,5.0,New,Few thousand kilometers,5.0,hyundai kona
4,Price difference between petrol and electronic...,4.0,4.0,5.0,3.0,2.0,Not Purchased,Haven't driven it,3.0,hyundai kona

In [4]:
df.columns

Index(['review', 'Exterior', 'Comfort', 'Performance', 'Fuel Economy',
       'Value for Money', 'Condition', 'driven', 'rating', 'model_name'],
      dtype='object')

In [5]:
df.shape

(129, 10)

In [6]:
Cars=df['model_name'].unique()

In [7]:
df1=pd.read_csv("4-wheeler-EV-cardekho.csv")

In [8]:
df1.head()

,Review,Rating,Attributes Mentioned,Model
0,Using it for the last 1 month. It's a gentle-l...,5.0,['mileage' 'performance' 'power' 'price' 'seat...,hyundai kona
1,"In the beginning, the car performed excellentl...",1.0,['mileage' 'performance' 'service' 'parts'],hyundai kona
2,Hyundai is the best performing company beating...,5.0,['performance' 'service'],hyundai kona
3,The car offers reasonable performance in this ...,5.0,['performance'],hyundai kona
4,Hyundai Kona - First electric car of India was...,4.0,['looks' 'comfort' 'interior' 'price' 'insuran...,hyundai kona

In [9]:
df['model_name'].unique()

array(['hyundai kona', 'tata nexon ev', 'tata tigor ev'], dtype=object)

In [10]:
df1['Model'].unique()

array(['hyundai kona', 'Kia EV6', 'Tata Nexon EV', 'MG ZS EV',
       'Tata Tigor EV', 'BYD E6'], dtype=object)

In [11]:
review=df['review'].to_list()
review1=df1['Review'].to_list()

In [12]:
#model=pipeline(model="finiteautomata/bertweet-base-sentiment-analysis")
model=pipeline("sentiment-analysis")
val=[]
value=[]

No model was supplied, defaulted to distilbert-base-uncased-finetuned-sst-2-english and revision af0f99b (https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.
Xformers is not installed correctly. If you want to use memorry_efficient_attention to accelerate training use the following command to install Xformers
pip install xformers.

In [13]:
for i in range(0,len(df1)):
    val.append(model(review1[i]))

In [14]:
for j in range(0,len(df)):
    value.append(model(review[j]))

In [15]:
print(type(value))

<class 'list'>

In [16]:
flattened_data = [item[0] for item in val]

df = pd.DataFrame(flattened_data)
pos=df[df.label=='POSITIVE']
neg=df[df.label=='NEGATIVE']
print(df)

        label     score
0    POSITIVE  0.999773
1    NEGATIVE  0.998535
2    POSITIVE  0.999759
3    POSITIVE  0.998826
4    POSITIVE  0.998122
..        ...       ...
135  POSITIVE  0.999883
136  POSITIVE  0.999884
137  POSITIVE  0.989759
138  POSITIVE  0.999862
139  POSITIVE  0.999667

[140 rows x 2 columns]

In [19]:
pos_score=pos['score'].sum()
neg_score=neg['score'].sum()
pscore=pos_score/(pos_score+neg_score)
nscore=neg_score/(pos_score+neg_score)
print("Positive Pression" , pscore)
print("Negative Pression" , nscore)

Positive Pression 0.7607724902901963
Negative Pression 0.23922750970980367

In [20]:
flattened_data = [item[0] for item in val]

df = pd.DataFrame(flattened_data)
pos=df[df.label=='POSITIVE']
neg=df[df.label=='NEGATIVE']
print(df)

        label     score
0    POSITIVE  0.999773
1    NEGATIVE  0.998535
2    POSITIVE  0.999759
3    POSITIVE  0.998826
4    POSITIVE  0.998122
..        ...       ...
135  POSITIVE  0.999883
136  POSITIVE  0.999884
137  POSITIVE  0.989759
138  POSITIVE  0.999862
139  POSITIVE  0.999667

[140 rows x 2 columns]

In [21]:
pos_score=pos['score'].sum()
neg_score=neg['score'].sum()
pscore=pos_score/(pos_score+neg_score)
nscore=neg_score/(pos_score+neg_score)
print("Positive Pression" ,pscore)
print("Negative Pression" ,nscore)

Positive Pression 0.7607724902901963
Negative Pression 0.23922750970980367

In [22]:
data=pd.read_csv("EVIndia.csv")

In [23]:
data.shape

(12, 10)

In [24]:
data.head(13)

,Car,Style,Range,Transmission,VehicleType,PriceRange,Capacity,BootSpace,BaseModel,TopModel
0,Tata Nexon EV,Compact SUV,312 Km/Full Charge,Automatic,Electric,13.99 - 17.4 L,5 Seater,350 L,XM,Dark XZ Plus LUX
1,Tata Tigor EV,Subcompact Sedan,306 Km/Full Charge,Automatic,Electric,12.49 - 13.64 L,5 Seater,316 L,XE,XZ Plus Dual Tone
2,Tata Nexon EV Max,Compact SUV,437 Km/Full Charge,Automatic,Electric,17.74 - 19.24 L,5 Seater,350 L,XZ Plus 3.3 kW,XZ Plus Lux 7.2 kW
3,MG ZS EV,Compact SUV,419 Km/Full Charge,Automatic,Electric,21.99 - 25.88 L,5 Seater,448 L,Excite,Exclusive
4,Hyundai Kona Electric,Compact SUV,452 Km/Full Charge,Automatic,Electric,23.79 - 23.98 L,5 Seater,na,Premium Dual Tone,HSE
5,Jaguar I-Pace,Premium Midsize Sedan,470 Km/Full Charge,Automatic,Electric,1.06 - 1.12 Cr,5 Seater,656 L,S,Sportback 55
6,Audi E-Tron GT,Premium Coupe,388 Km/Full Charge,Automatic,Electric,1.8 Cr,5 Seater,405 L,Quattro,na
7,BYD E6,Subcompact MPV,415 Km/Full Charge,Automatic,Electric,29.15 L,5 Seater,580 L,STD,na
8,Mercedes-Benz EQC,Compact SUV,471 Km/Full Charge,Automatic,Electric,1 Cr,5 Seater,na,na,na
9,BMW iX,Premium Fullsize SUV,425 Km/Full Charge,Automatic,Electric,1.16 Cr,5 Seater,na,na,na
10,Porsche Taycan,Premium Sports Sedan,na,Automatic,Electric,1.5 Cr,4 Seater,na,na,na
11,Audi E-Tron,Compact SUV,400 Km/Full Charge,Automatic,Electric,1.01 - 1.19 Cr,5 Seater,660 L,na,na

In [25]:
data['Car'].unique()

array(['Tata Nexon EV', 'Tata Tigor EV', 'Tata Nexon EV Max', 'MG ZS EV',
       'Hyundai Kona Electric', 'Jaguar I-Pace', 'Audi E-Tron GT',
       'BYD E6', 'Mercedes-Benz EQC', 'BMW iX', 'Porsche Taycan',
       'Audi E-Tron'], dtype=object)

In [26]:
Cars

array(['hyundai kona', 'tata nexon ev', 'tata tigor ev'], dtype=object)